<!DOCTYPE html>
<html ng-app='PilotWeather'>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src="/javascripts/lib.min.js"></script>
    <script src="/javascripts/app.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
